<%= form_for(recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :prep_time %>
    <%= f.number_field :prep_time %>

    <%= f.select :prep_type, ['minutes', 'hours', 'days'] %>
  </div>

  <div class="field">
    <%= f.label :cook_time %>
    <%= f.number_field :cook_time %>

    <%= f.select :cook_type, ['minutes', 'hours', 'days'] %>
  </div>

  <div class="field">
    <%= f.label :instructions %>
    <%= f.text_field :instructions %>
  </div>

  <div class="field">
    <%= f.label :share_recipe? %>
    <%= f.check_box :shared %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
