<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Prep time:</strong>
  <%= @recipe.prep_time %>
</p>

<p>
  <strong>Prep type:</strong>
  <%= @recipe.prep_type %>
</p>

<p>
  <strong>Cook time:</strong>
  <%= @recipe.cook_time %>
</p>

<p>
  <strong>Cook type:</strong>
  <%= @recipe.cook_type %>
</p>

<% if current_user.id == @recipe.user.id %>
  <p>
    <strong>Shared:</strong>
    <% if @recipe.shared %>
      Public recipe
    <% else %>
      Private recipe
    <% end %>
  </p>
<% end %>
<div id="ing_inst_block">

  <div style="float: left; width: 50%">
    <p>
      <strong>Ingredients:</strong>
      <br/>
      <% @recipe.ingredients.each do |ing| %>
        <br/><%= link_to ing.name, ingredient_path(ing) %> - <%= ing.num_quant %> <%= ing.name_quant %>
      <% end %>
    </p>

    <% if @recipe.user.id == current_user.id %>
    <p>
      <%= button_to 'Add Ingredient', new_recipe_ingredient_path(@recipe), :method => :get %>
    </p>
      <% end %>
  </div>
  <div style="float: right; width: 50%">
    <p>
      <strong>Instructions:</strong>
      <br/>
      <br/>
      <%= simple_format(@recipe.instructions) %>
    </p>
  </div>
</div>

<div style="margin-top: 20vh">
<% if @recipe.user.id == current_user.id %>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<% end %>
<%= link_to 'Back', recipes_path %>
</div>