<p id="notice"><%= notice %></p>

<p>
  <strong>Recipe:</strong>
  <%= @meal.recipe.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @meal.start_time %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
