<!DOCTYPE html>
<html>
  <head>
    <title>MealPlanning</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul class="hmenu">
    <%= link_to 'Home', root_path %> -
    <%= link_to 'My Calendar', calendar_path(current_user) if current_user %> -
    <%= render 'devise/registration_items' %> -
    <%= render 'devise/login_items' %>
  </ul>
    <%= yield %>
  </body>
</html>
